<!DOCTYPE html>
<html>
<head>
    <title>Mi primera web</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            background-color: #1e1e1e;
            color: white;
        }
        h1 {
            color: #00ffcc;
        }
        button {
            padding: 10px 20px;
            border: none;
            background-color: #00ffcc;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>🚀 Mi primera página con Python</h1>
    <p>Estoy usando Flask</p>

    <button onclick="mensaje()">Haz clic</button>

    <script>
        function mensaje() {
            alert("Hola desde JavaScript 😄");
        }
    </script>

</body>
</html>